doctype html
html
  head
  body
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/highcharts-3d.js')
    script(src='../../public/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='../../public/css/bootstrap.min.css')
    .container
      h3
        | The columns titles are merged with the filters inputs thanks to the placeholders attributes
      hr
      p
        | Inspired by this 
        a(href='http://bootsnipp.com/snippets/featured/panel-tables-with-filter') snippet
      .row
        .panel.panel-primary.filterable
          .panel-heading
            h3.panel-title Users
          table.table
            thead
              tr
                th aa
                th ss
                th dd
                th ff
            tbody
              tr
                td 1
                td Mark
                td Otto
                td @mdo
              tr
                td 2
                td Jacob
                td Thornton
                td @fat
              tr
                td 3
                td Larry
                td the Bird
                td @twitter
