extends ../layout
block content
  header.navbar.navbar-green.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.btn-success(class='active')
          a(href='/admin/org') الـمنظمات
        li
          a(href='/admin/obs') المراقبين
        li(class='active')
          a(href='/reports') التقارير
        li
          a(href='/admin/moveOrg') تصحيح
        li
          a(href='/logout') خروج


  .col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
    .nav.nav-pills.nav-stacked
      li
          a.btn.btn-default.btn-block(href="/admin/org/natOrg", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | مـنـظـمـات دولــيـة
      li
          a.btn.btn-default.btn-block(href="/admin/org/natMedia", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | مؤسسات إعلامية
      li
          a.btn.btn-success.btn-block(href="/admin/org/guest", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | الهيئات الدبلوماسية

  .col-sm-7.col-md-7.col-lg-7
    .panel.green-form.panel-success
      .panel-heading تـسـجـيـل بيانات الهيئه الدبلوماسية
      .panel-body
        form#guest(role='form',method="post",action="/admin/addOrg")
          .form-group
            input.form-control#name_org(name='name_org', placeholder='أسم الهيئة', type='text')
          .form-group
              input.form-control#phone(name='phone', placeholder='رقم الهاتف', type='text')
          .form-group
            input.form-control#address(name='address', placeholder='العنوان', type='text')
          .form-group
            input.form-control#email(name='email', placeholder='البريد الالكتروني', type='email')
          input#type(name='type', type='hidden',value='6')
          //- .form-group
          //-   select.form-control#level(name='level',type='text')
          //-     option(value='', style='color: grey; display:none;') Please Select Level
          //-     option(value='1') Administration
          //-     option(value='2') Seller  
          .row
            .col-xs-8.col-md-8
              button#btnSubmit.btn.btn-success.btn-block(type='submit') تـسـجـيـل
            .col-xs-4.col-md-4
              button.btn.btn-default.btn-block(type='reset') إلغاء

  .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
    .panel.panel-success
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | الهيئات الدبلوماسية
          span.pull-left
            | العدد   #{cnt}
      .panel-body
        table#table

  #deleteGuest_href.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 

  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src="/js/bootstrap-table.min.js")
  script(src="/js/admin/guest.js")
  script(src='/js/admin/backToTop.js')