extends ../layout
block content
  header.navbar.navbar-red.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | المستخدمين 
            b.caret
          ul.dropdown-menu
            li
              a(href='/edituser/#{user}') بيانات المستخدم
            li
              a(href='/logout') خروج
        li
          a(href='/reports') التقارير
        li
          a(href='/admin/obs') المراقبين
        li.btn-danger(class='active')
          a(href='/admin/org') الـمنظمات

  .col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
      .nav.nav-pills.nav-stacked
        li
            a.btn.btn-danger.btn-block(href="/admin/org/natOrg", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | مـنـظـمـة دولــيـة
        li
            a.btn.btn-default.btn-block(href="/admin/org/natMedia", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | اعـلام دولـي
        li
            a.btn.btn-default.btn-block(href="/admin/org/guest", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | ضــيــف


  .col-sm-7.col-md-7.col-lg-7
    .row
      .panel.red-form.panel-danger
        .panel-heading تـسـجـيـل بيانات المنظمات الدولية
        .panel-body
          form#natOrg(role='form',method="post",action="/admin/addOrg")
            .form-group
              input.form-control#name_org(name='name_org', placeholder='أسم المنظمة', type='text')
            .form-group
              input.form-control#name_director(name='name_director', placeholder='أسم مدير المنظمة', type='text')
            .form-group
              input.form-control#phone(name='phone', placeholder='رقم الهاتف', type='text')
            .form-group
              input.form-control#address(name='address', placeholder='العنوان', type='text')
            .form-group
              input.form-control#registration_no(name='registration_no', placeholder='رقم الاشهار', type='text')
            .form-group
              input.form-control#email(name='email', placeholder='البريد الالكتروني', type='email')

            input#type(name='type', type='hidden',value='1')
            .row
              .col-xs-8.col-md-8
                button.btn.btn-danger.btn-block(type='submit') تـسـجـيـل 
              .col-xs-4.col-md-4
                button.btn.btn-default.btn-block(type='reset') إلغاء

  .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
    .panel.panel-danger
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | المنظمات
          span.pull-left
            | عدد المنظمات  #{cnt}
      .panel-body
        table#table

  //- del
  #deleteOrgModule.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 

  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src="/js/bootstrap-table.min.js")
  script(src='/js/admin/natOrg.js')
  script(src='/js/admin/backToTop.js')
  script(src='/js/admin/bootstrap-notify.min.js')