extends ../layout
block content
  header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li(class='active')
          a(href='/admin/org') الـمنظمات
        li
          a(href='/admin/obs') المراقبين
        li
          a(href='/reports') التقارير
        li
          a(href='/admin/moveOrg') تصحيح
        li
          a(href='/logout') خروج
        
        
        
  
  .col-xs-8.col-sm-8.col-md-8.col-lg-8.col-lg-offset-2.col-md-offset-2  
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          |   لـوحـــة الـتـحــكــم
      .panel-body
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            a.btn-lg.btn.btn-danger.btn-block(href="/admin/org/natOrg", role="button")
              span.glyphicon.glyphicon-user
              br
              | مـنـظـمـات دولــيـة
            p
            a.btn-lg.btn.btn-warning.btn-block(href="/admin/org/natMedia", role="button")
              span.glyphicon.glyphicon-th
              br
              | مؤسسات اعلامية
            p
          .col-xs-6.col-sm-6.col-md-6.col-lg-6  
            //- a.btn-lg.btn.btn-info.btn-block(href="/admin/moveOrg", role="button")
              span.glyphicon.glyphicon-th
              br
              | نـقـل مراقبين المنظمة
            p
            a.btn-lg.btn.btn-success.btn-block(href="/admin/org/guest", role="button")
              span.glyphicon.glyphicon-user
              br
              | الهيئات الدبلوماسية
            p

    .panel.panel-primary
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | المنظمات/مؤسسات/هيئات
          span.pull-left
            | العدد   #{cnt}
      .panel-body
        table#table
  
  #deleteOrgModule.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء

  script(src="/js/jquery-1.11.1.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/bootstrap-table.min.js")
  script(src="/js/admin/bootstrap-notify.min.js")
  script(src="/js/admin/org.js")
  script(src='/js/admin/backToTop.js')