doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/jumbotron-narrow.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/form.css')
    link(rel='stylesheet', href='/css/listMenu.css')
    link(rel='stylesheet', href='/css/navigationButton.css')
    link(rel='stylesheet', href='/css/bootstrap-table.min.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    meta(chareset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon",href="../../../../favicon.ico")

  body
    block content