extends layout
block content
  header.navbar.navbar-default.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
  
  div.panel.panel-default.form-signin 
    div.panel-heading.text-right
      h1.panel-title الرجاء تسجيل الدخول
    div.panel-body
      form#form.form-signin(role="form",action="/login", method="post")
        div.form-group
          lable اسم المستخدم
          input#username.form-control(type="text",name="username", placeholder="اسم المستخدم", required="",autofocus="")
        div.form-group
          lable كلمة المرور
          input#password.form-control(type="password",name="password", placeholder="كلمة المرور", required="")
        div.form-group.text-center
          button.btn.btn-lg.btn-primary(type="submit") الدخول
  
  
  script(src="/js/jquery-1.11.1.min.js") 
  script(src="/js/bootstrap.min.js")
  script(src="/js/jquery.validate.min.js")
