extends ../layout
block content
  header.navbar.navbar-red.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.btn-danger(class='active')
          a(href='/manager/org') الـمنظمات
        li
          a(href='/manager/obs') المراقبين
        li
          a(href='/reportsMgr') التقارير
       
        li
          a(href='/logout') خروج

  .col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
    .nav.nav-pills.nav-stacked
      li
          a.btn.btn-default.btn-block(href="/manager/org/locOrg", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | مـنـظـمـة محلية
      li
          a.btn.btn-default.btn-block(href="/manager/org/locMedia", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | اعـلام محلي
      li
          a.btn.btn-danger.btn-block(href="/manager/org/candidate", role="button")
            span.glyphicon.glyphicon-th.pull-right
            | المرشحين

  .col-sm-7.col-md-7.col-lg-7
    .row
      .panel.red-form.panel-danger
        .panel-heading ادخال مترشح
        .panel-body
          form#candidate(role='form',method="post",action="/manager/addOrg")
            .form-group
              input.form-control#name_org(name='name_org', placeholder='اسم المترشح', type='text')
            .form-group
              input.form-control#name_director(name='name_director', placeholder='اسم المدير', type='text')
            .form-group
              input.form-control#phone(name='phone', placeholder='رقم الهاتف', type='text')
            .form-group
              input.form-control#address(name='address', placeholder='العنوان', type='text')
            .form-group
              input.form-control#registration_no(name='registration_no', placeholder='رقم المترشح', type='text')
            .form-group
              input.form-control#email(name='email', placeholder='البريد الالكتروني', type='email')
              input(name='type',type='hidden',value='1')
            .row
              .col-xs-8.col-md-8
                button#btnSubmit.btn.btn-danger.btn-block(type='submit') تسجيـــل
              .col-xs-4.col-md-4
                button.btn.btn-block(type='reset') إلغاء

  .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
    .panel.panel-danger
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | المترشحين
      .panel-body
        table#table

  #deletecandidate.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        #mbody.modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 

  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src="/js/bootstrap-table.min.js")
  script(src="/js/manager/Candidate.js")
  script(src='/js/admin/backToTop.js')
  script(src="/js/manager/bootstrap-checkbox.min.js")