extends ../layout
block content
  header.navbar.navbar-orange.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | المستخدمين 
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') بيانات المستخدم
            li
              a(href='#') خروج
        li
          a(href='#') التقارير
        li
          a(href='/manager/obs') المراقبين
        li
          a(href='/manager/org') الـمنظمات

  .col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
      .nav.nav-pills.nav-stacked
        li
            a.btn.btn-default.btn-block(href="/manager/obs/locOrg", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | مــراقب محلي
        li
            a.btn.btn-warning.btn-block(href="/manager/obs/locMedia", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | اعـلامي محلـي
        li
            a.btn.btn-default.btn-block(href="/manager/obs/agent", role="button")
              span.glyphicon.glyphicon-th.pull-right
              | وكيــــل

  .col-sm-7.col-md-7.col-lg-7
    .row
      .panel.orange-form.panel-warning
        .panel-heading إدخال مراقب إعلامي
        .panel-body
          form#natMediaObs(role='form',method="post",action="/manager/addObs")
            .form-group
              input.form-control#name(name='name', placeholder='اﻹسم', type='text')
            .form-group
              input.form-control#pass_nid(name='pass_nid', placeholder='الرقم الوطني / جواز سفر', type='text')
            .form-group
              select#registration_org.form-control.selectpicker.show-tick(type="text",name="registration_org",data-show-subtext='true',data-size='5',data-live-search='true')
                option(value="", style='color:grey; display:none;') الرجاء اختيار منظمة
                for org in orgs
                  option(value="#{org.id_org}") #{org.name_org}
            .form-group.col-sm-6.col-md-6.col-lg-6
              | الجنس :   
              input.form-control#gender(name='gender', placeholder='الجس', type='checkbox', data-reverse='false')
            .form-group.col-sm-6.col-md-6.col-lg-6  
              | مدير  : 
              input.form-control#director(name='director', placeholder='الوظيفة', type='checkbox')
            .form-group
              input.form-control#phone_obs(name='phone_obs', placeholder='رقم الهاتف', type='text')
            .form-group
              input.form-control#email(name='email', placeholder='البريد اﻹلكتروني', type='email')
            input(type='hidden', name='Type', value='5')

            .row
              .col-xs-8.col-md-8
                button#btnSubmit.btn.btn-warning.btn-block(type='submit') تسجيــــل 
              .col-xs-4.col-md-4
                button.btn.btn-default.btn-block(type='reset') إلغاء


  .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
    .panel.panel-warning
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | المراقبين
      .panel-body
        table#table

  #deleteObsModule.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src="/js/bootstrap-table.min.js")
  script(src="/js/manager/locMediaObs.js")
  script(src='/js/admin/backToTop.js')
  script(src='/js/admin/bootstrap-notify.min.js')
  script(src="/js/manager/bootstrap-checkbox.min.js")
  script(src='/js/bootstrap-select.min.js')